<!DOCTYPE html>
<html lang="en">


<%- include('partials/header') %>

    <body>

        <%- include('partials/navbar') %>
            <h1>Smart Mazda Trips</h1>
            <div id="trip-table">
                <%- include('partials/trip-table') %>

                    <div id="graph-table">
                        <ul class="responsive-table">
                            <li class="row">
                                <div class="col col-12 canvas" id="speed-graph"></div>
                            </li>

                            <li class="row">
                                <div class="col col-12 canvas" id="rpm-graph"></div>
                            </li>

                            <li class="row">
                                <div class="col col-12 canvas" id="engineLoad-graph"></div>
                            </li>

                            <li class="row">
                                <div class="col col-12 canvas" id="coolantTemp-graph"></div>
                            </li>

                            <li class="row">
                                <div class="col col-12 canvas" id="throttlePos-graph"></div>
                            </li>

                        </ul>
                    </div>
            </div>
            <script type="text/javascript">
                var trip = <%-JSON.stringify(trips[0])%>
                console.log("trip", trip)
            </script>

            <script src="/assets/graph.js"></script>
    </body>

</html>