<!DOCTYPE html>
<html lang="en">


<%- include('partials/header') %>

    <body>

        <%- include('partials/navbar') %>
            <h1>Smart Mazda Trips</h1>
            <div id="trip-table">
                <form>
                    <input onkeyup="tableFilter()" type="text" name="search" id="search" placeholder="Search date..." required>
                </form>
                <%- include('partials/trip-table') %>
            </div>
    </body>

</html>