.canvas {
    min-height: 250px;
    background: black;
}

path {
    fill: none;
    stroke: #927979;
    stroke-width: 1.5;
}

.dot {
    fill: #560808;
    stroke: black;
}

.dot.focus {
    fill: rebeccapurple;
    r: 10;
}

text {
    fill: grey;
}

.label {
    fill: white;
}

.reference path {
    stroke: #7e7eaf;
}

path.minimum {
    stroke-dasharray: 8;
}

path.average {
    stroke-dasharray: 8 20 1;
}

.reference text:hover {
    fill: white;
}