body {
    background: #0d1521;
    font-family: tahoma;
    color: #989898;
}

.delete {
    color: #b31010;
    padding: 5px 0;
    margin: -12px 0;
    border-radius: 10px;
}

#top-menu {
    display: inline-flex;
}

#trip-table {
    position: relative;
    width: 95%;
    background: #090d13;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

#trip-table form:after {
    margin: 0;
    content: '';
    display: block;
    clear: both;
}

#search {
    background-image: url('/assets/searchicon.png');
    /* Add a search icon to input */
    background-position: 10px 12px;
    /* Position the search icon */
    background-repeat: no-repeat;
    /* Do not repeat the icon image */
    width: 96%;
    padding: 1.5% 2%;
    background: #181c22;
    border: 0;
    border-radius: 5px;
    margin: 1.5% 0;
    /* float: left; */
    font-size: 119%;
    color: #989898;
}

button {
    padding: 20px;
    width: 23%;
    margin: 0 1% 1%;
    float: left;
    background: #23282e;
    border: 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    font-family: arial;
    font-size: 20px;
    letter-spacing: 1px;
}

li * {
    cursor: pointer;
}

.center {
    text-align: center;
}

.active,
li:hover {
    background: #181c22;
}

h1:first-of-type {
    background: url(/assets/logo.svg) no-repeat center;
    margin: 3px 0 0;
    zoom: 600%;
    height: 10px;
    text-indent: -10000px;
}

a {
    color: inherit;
    text-decoration: inherit;
    padding: 50%;
    margin: -50%;
}

.responsive-table li {
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.responsive-table .table-header {
    background-color: #181c22;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    text-align: center;
}

.responsive-table .table-row {
    background-color: #333;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.responsive-table .col-1 {
    flex-basis: 10%;
}

.responsive-table .col-2 {
    flex-basis: 15%;
}

.responsive-table .col-3 {
    flex-basis: 25%;
}

.responsive-table .col-4 {
    flex-basis: 30%;
}

.responsive-table .col-12 {
    flex-basis: 100%;
}

@media all and (max-width: 767px) {
    .responsive-table .table-header {
        display: none;
    }
    .responsive-table li {
        display: block;
    }
    .responsive-table .col {
        flex-basis: 100%;
    }
    .responsive-table .col {
        padding: 10px 0;
    }
    .responsive-table .col:before {
        color: #6c7a89;
        padding-right: 10px;
        content: attr(data-label);
        flex-basis: 50%;
        text-align: right;
    }
}